                
                /* MISCELLANEOUS */

@media screen and (orientation: landscape) {
    :root {
    --font_body: 1.2vw;
    --font_small: 1.6vw;
    --font_medium: 2.1vw;
    --font_large: 2.35vw;
    --font_heading: 2.65vw;

    --font_subtitle: 1.8vw;
    --font_title: 5.35vw;
    }
}

@media screen and (orientation: portrait) {
    :root {
    --font_body: 2.4vh !important;
    --font_small: 3.2vh !important;
    --font_medium: 4.2vh !important;
    --font_large: 4.7vh !important;
    --font_heading: 5.3vh !important;

    --font_subtitle: 3.6vh !important;
    --font_title: 10.7vh !important;
    }
}

.image-adaptive-sizing {
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    width: 90vw !important;
    height: 100vh !important;
    border: 2vw solid rgba(0,0,0,0);
    border-radius: 4.5vw;
    border-top-left-radius: 0rem;
}


                /* NAVBAR STYLESHEETS */

.terra-logo-main {
    width: 26.5vw;
    height: 3.65vw;
}

.terra-background-dark {
    background-color: rgba(16, 4, 24, 0.55);
    transition: background-color 0.3s ease-in-out;
}

.terra-background-dark:hover {
    background-color: rgba(16, 4, 24, 0.9);
}

.terra-bold-font{
    color: rgb(0,140,0) !important;
    font: bold calc(var(--font_body) + 1pt) Rockwell !important;
    transition: all 0.5s ease !important;
}

.zoom-on-hover :hover {
    font-size: calc(var(--font_body) + 4pt) !important;
}

.terra-active-font {
    color: white !important;
    background-image: linear-gradient(to bottom, rgb(0,90,0), rgb(0,140,0), rgb(0,90,0));
    font-weight: bold;
    border-radius: 5vw;
}

@media screen and (min-width: 1500px) {
    .terra-active-font {
        padding: 0.4vw !important;
        border-radius: 0.4vw !important;
    }
}

.dropdown-item-icon {
    float: left; 
    margin-right: 0.8vw; 
    height: 1.5vw; 
    width: auto
}

.dropdown-menu-nav {
    margin-bottom: -1.5vw;
    margin-right: 2.25vw;
    margin-left: -2.25vw;
}

.nav-item {
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

                /* FOOTER STYLESHEETS */

.footer-hover {
    font-size: calc(var(--font_small) - 2pt);
    font-family: Rockwell;
    color: rgba(255, 255, 255, 0.55) !important;
    text-decoration: none !important;
}

.footer-hover :hover {
    font-size: calc(var(--font_small) - 2pt);
    font-family: Rockwell;
    color: rgb(255,255,255) !important;
    text-decoration: none !important; 
}


                /* CUSTOM FONTS */
@font-face {
    font-family: "Ringbearer";
    src: url('Fonts/RingbearerD.ttf') format('truetype');
}

/* do not in the name of a kentucky fried fuck use this
@font-face {
    font-family: "Rockwell";
    src: url('Resources/Fonts/ROCK.TTF') format('truetype');
}
*/

@font-face {
    font-family: "Minecraft";
    src: url('Fonts/Minecraft-Ten.ttf') format('truetype');
}


                /* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(16, 4, 24);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(155, 132, 0);
    border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 172, 0);
}
