                
                /* MISCELLANEOUS */

* {
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

@media screen and (orientation: landscape) {
    :root {
    --font_body: 1.2vw;
    --font_small: 1.6vw;
    --font_medium: 2.1vw;
    --font_large: 2.35vw;
    --font_heading: 2.65vw;

    --font_subtitle: 1.8vw;
    --font_title: 5.35vw;
    }

    .navbar-background-for-real {
        background-color:antiquewhite; 
        background-image: url('navbar collage.png'); 
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 150%;
    }
}

@media screen and (orientation: portrait) {
    :root {
    --font_body: 2.4vh !important;
    --font_small: 3.2vh !important;
    --font_medium: 4.2vh !important;
    --font_large: 4.7vh !important;
    --font_heading: 5.3vh !important;

    --font_subtitle: 3.6vh !important;
    --font_title: 10.7vh !important;
    }

    .navbar-background-for-real {
        background-color:antiquewhite; 
        background-image: url('navbar\ but\ portrait.png'); 
        background-position: center;
        background-repeat: no-repeat; 
        background-size: 400%;
    }

    nav {
        opacity: initial !important;
        transition: all 0.8s ease-in-out;
    }
    
    nav:hover, nav:focus {
        opacity: initial !important;
    }
}


                /* NAVBAR STYLESHEETS */

header {
    background-image: url("T_Logo_Full-1280x720-ModifiedForNav.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 125vh;
    transition: all 0.8s ease-in-out;
    opacity: 0.5;
}

header:hover, header:focus {
    background-size: 145vh;
    opacity: 1;
}


nav {
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

nav:hover, nav:focus {
    opacity: 1;
}

.terra-logo-main {
    width: auto;
    height: 6vh;
    padding-top: 0px;
}

.terra-background-dark {
    background-color: rgba(16, 4, 24, 0.25);
    transition: all 0.3s ease-in;
}

.terra-background-dark:hover {
    background-color: rgba(16, 4, 24, 0.75);
}

.terra-bold-font{
    color: rgb(0,140,0) !important;
    font: bold calc(var(--font_body) + 1pt) Rockwell !important;
    transition: all 0.5s ease !important;
}

.zoom-on-hover :hover {
    font-size: calc(var(--font_body) + 4pt) !important;
}

.terra-active-font {
    color: white !important;
    background-image: linear-gradient(to bottom, rgb(0,90,0), rgb(0,140,0), rgb(0,90,0));
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0vw;
    margin-right: 0.375vw;
    border-radius: 5vw;
    transition: opacity 0.8s ease-in-out !important;
}

@media screen and (min-width: 1500px) {
    .terra-active-font {
        padding: 0.6vw !important;
        border-radius: 0.4vw !important;
    }

    .nav-link {
        vertical-align: middle;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0.375vw;
        margin-right: 0.375vw;
    }

    .nav-item {
        vertical-align: middle;
        padding-top: 1vh;
        padding-bottom: 1vh;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 0.375vw;
        margin-right: 0.375vw;
    }
}

.dropdown-item {
    height: 4.2vh;
    padding-left: 6vh;
    vertical-align: top;
}

.dropdown-item-icon {
    float: left;
    text-align: start;
    margin-left: -4.5vh;
    margin-right: 1.65vh;
    height: 3.3vh; 
    width: auto;
    vertical-align: bottom !important;
    padding: 0px;
}

.nav-link {
    vertical-align: middle;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.375vw;
    margin-right: 0.375vw;
}

.nav-item {
    vertical-align: middle;
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0.375vw;
    margin-right: 0.375vw;
}

                /* FOOTER STYLESHEETS */

.footer-hover {
    font-size: calc(var(--font_small) - 2pt);
    font-family: Rockwell;
    color: rgba(255, 255, 255, 0.55) !important;
    text-decoration: none !important;
}

.footer-hover :hover {
    font-size: calc(var(--font_small) - 2pt);
    font-family: Rockwell;
    color: rgb(255,255,255) !important;
    text-decoration: none !important; 
}


                /* CUSTOM FONTS */
@font-face {
    font-family: "Ringbearer";
    src: url('Fonts/RingbearerD.ttf') format('truetype');
}


@font-face {
    font-family: "Rockwell";
    font-stretch: condensed;
    src: url('Fonts/ROCK.TTF') format('truetype');
}


@font-face {
    font-family: "Minecraft";
    src: url('Fonts/Minecraft-Ten.ttf') format('truetype');
}


                /* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(16, 4, 24);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(155, 132, 0);
    border-radius: 2rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(195, 172, 0);
}
